/* Write the css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

img{
    height: 50px;
    width: 50px;
    left: 20px;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 10px;
}

#addTaskBtn {
    width: 25%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

#addTaskBtn:hover {
    background-color: #218838;
}

/* append elements */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(odd) {
    background-color: #e9ecef;
}

.task-text {
    flex-grow: 1;
}

/* delete button */
.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* footer */
footer{
    margin-top: auto;
    background-color: rgb(129, 207, 241);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    font-family:  sans-serif;
    color:black;
}